main{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 100vh;
}

.infouser{
    margin-top: 50px;
}

.bold {
    font-weight: 700;
    font-family: 'Inter';
}
  
.user{
    font-size: 25px;
    margin-bottom: 10%;
    padding-left: 10%;
    margin-top: 20px;
}

p{
    font-family: 'Inter';
}

h4{
    color: white;
    font-family: 'Inter';
    font-weight: normal;
}

.textperfil h3{
    color: white;
    font-family: 'Montserrat';
    background-color: #1b1b1b;
    padding-left: 10%;
}

.imgperfil{
    display: flex;
    justify-content: center;
    margin-top: -8%;
}

.imgperfil img{
    height: 180px;
    width: 170px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(150, 15, 15);
}

.dadosuser{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 4%;
    font-size: 19px;
    line-height: 30px;
}

.dados{
    text-align: left;
}

.usabilidades{
    margin-top: 90px;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 17px;
}