@font-face {
    font-family: 'bravecho';
    src: url('../fontes/bravecho/Bravecho.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0f0f0f,  rgb(41, 2, 2));
    height: 100px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Montserrat';
    -webkit-text-stroke: 0.5px black;
    font-size: 36px;
    color: rgb(150, 15, 15);
    font-family: 'bravecho', sans-serif;
}

h3{
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    display: flex;
    margin-top: 10px;
}